php_flag display_errors Off

AuthType Basic
AuthName "Additional authorization. Please log in."
AuthUserFile /home/niitkddesign/public_html/public/.htpasswd
Require valid-user
<Files .htpasswd>
    deny from all
</Files>

<IfModule mod_rewrite.c>
    AddDefaultCharset utf-8
    RewriteEngine On

    RewriteBase /

    #HTTPS Redirect
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	# Redirect Trailing Slashes...
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)/$ /$1 [L,R=301]

	# Rewrite "www.example.com -> example.com"
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(themes|uploads|favicon\.ico)
    RewriteRule ^(.*)$ /index.php?/$1 [L]
</IfModule>


